#cart-content{
	margin-top: 64px;
	margin-bottom: 64px;
}

#cart-headlines{
	border-bottom: 2px solid #f0f0f0; 
}

#cart-headlines p{
	text-align: center;
	color: #9B9B9B;
	padding: 0;
	margin: 0;
	display: inline-block;
	width: 140px;
}

#cart-headlines div:first-of-type p{
	text-align: left;
	width: inherit;
	display: inherit;
}

#cart-item {
	border-bottom: 2px solid #f0f0f0;
}

#cart-item div div:first-of-type{
	display: inline-block;
	margin-right: 16px;
	font-size: 16px;
	cursor: pointer;
}

#cart-item .col-7 div:first-of-type span{
	color: #EF5350;
	font-weight: 700;

}

#cart-item-name {
	display: inline-block;
}

#cart-item-name p {
	padding: 0 0 0 12px;
	font-size: 22px;
	color: #9B9B9B;
	margin-bottom: 0;
}

#cart-item-price-wrapper {
	margin-top: 56px;
	display: inline-block;
}

#cart-item .item-price {
	width: auto;
	margin-left: 59px;
}

#cart-item .item-price:first-of-type{
	margin-left: 44px;
}

#cart-item #product-quantity {
	margin-left: 60px;
	margin-right: 0; 
}

#cart-coupon-input {
	height: 52px;
	padding: 16px 8px 16px 32px;
	background-color: #404552;
	border: 0;
	margin: 8px 0;
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

#cart-coupon-input::placeholder{
	color: #6B758A;
	font-size: 12px;
}

.checkout-button {
	background-color: #2A9CF5;
	color: white;
	letter-spacing: 2px;
	font-size: 15px;
	border: 0;
	height: 68px;
	width: 200px;
	border-radius: 5px;
	font-weight: 600;
	transition: all .5s;	
}

.checkout-button:nth-of-type(2){
	margin-left: 336px;
}

.checkout-button:hover {
	background-color: #333842;
	color: #f0f0f0;
}

#cart-checkout #product-status {
	margin-top: 24px;
}

#cart-checkout #product-status div{
	padding: 12px 0;
	width: 100%;
	border-bottom: 2px solid #f0f0f0;
}