#category-title{
	color: white;
	width: 100%; 
	background-color: #263544;
	font-weight: 700;
	font-size: 32px;
	height: 128px;
	text-align: center;
	letter-spacing: 2px;
	text-transform: uppercase;
	padding-top: 40px;
}

.category-menu {
	color: #bbc4d1;
	font-size: 13px;
	line-height: 28px;
	border: 2px solid #f0f0f0;
	border-radius: 10px;
	padding: 36px 40px 35px 40px;
	letter-spacing: 1px;
	font-weight: 800;
	text-transform: uppercase;
}

.category-menu ul {
	padding-left: 0;
	margin-bottom: 0;
	list-style: none;
}

.category-menu li:first-of-type{
	color: #6D98EB;
}
.category-menu li span:nth-of-type(2){
	float: right;
}

#compare-menu-category {
	margin-top: 32px;
}

#compare-menu-category li{
	padding-top: 12px;
	padding-bottom: 12px;
}

.underline {
	border-bottom: 2px solid #f0f0f0;
}