body {
	overflow-x: hidden;
}

a {
	color: inherit;
	text-decoration: inherit;
}

a:hover {
	color: inherit;
	text-decoration: inherit;
}

#top-bar {
	padding: 0px !important;
	width: 100%;
	color: #A4A8B3;

}

#top-bar li {
	transition: all 0.5s;
	cursor: pointer;
	list-style-type:none;
}

#top-bar li:hover{
	color: #6D98EB;
}
#top-bar span {
	transition: all 0.5s;
	cursor: pointer;
}

#top-bar span:hover{
	color: #6D98EB;
}

#top-bar ul {
	margin-left: 0;
}

.right-content-area span {
	margin-right: 10px;
	margin-left: 10px;
}

.picker {
	float: left;
	display: block;
	margin-left: auto;
	position: relative;
	z-index: 2;
}

.picker ul {
	margin-left: 40px;
	padding: 0 7px;
	margin-bottom: 0;
}

.picker ul li{
	margin: auto;
}

.picker:hover .hide {
	display: block
}

.picker:hover li {
	background-color: #FFFFFF;
}

.show {
	display: block;
	height: 23px;
}

.picker img {
	width: 25px;
	margin-top: 5px;
	margin-right: 3px;

}

.right-content-area img {
	width: 25px;
	display: inline-block;
}

.hide {
	display: none;
	position: absolute;
}

.eng {
	width: 85px;
}

.row {
	padding: 20px;
}



hr {
	padding: 0;
	margin: 0;
	color: #CDCFD3;
}

.right-content-area {
	float: right;
	margin: auto;
	vertical-align: middle;
}

.left-content-area {
	margin: auto;
	display: inline-block;
	vertical-align: middle;
}

#top-bar img {
	vertical-align: top;
	float: left;
}

.left-content{
	display: inline-block;
	position: relative;
	float: left;
	width: 114px;
	height: 29px;
}

.left-content img{
	padding-top: 13px;
}

.right-content{
	display: inline-block;
	float: right;
}


.right-content ul li{
	float: left;
	list-style-type: none;
	display: inline-block;
}

input[type="search-bar"] {
	border: 0;
	background-color: white;
}




.search-bar {
	border: 2px #6D98EB solid;
	border-radius: 200px;
	position: relative;
    padding: 4px;
    padding-right: 48px;
	margin-top: 8px;
}

.search-bar form{
	display: inline-block;
	padding-left: 10px;
	outline: 0;
}


.submit-btn {
	border: 2px #6D98EB solid;
	border-radius: 200px;
	display: inline-block;
	padding: 5px 9px;
	background-color: white;
	position: absolute;
    right: -2px;
    top: -2px;
    transition: 0.6s all;
}

.submit-btn:hover {
	background-color: #6D98EB;
}

.submit-btn i {
	color: #6D98EB;
	transition: 0.6s all;
}

.submit-btn:hover i{
	color: white;
}

.wrapper {
	position: relative;
	display: inline-block;
}

.wrapper span {
	color: #6D98EB;
	position: absolute;
	right: 0;
	top: 0;
	font-weight: 700;
	z-index: 0;

}

input[type="search-bar"]::placeholder {
	color: #CDCFD3;
}

input:focus {
	outline: 0;
}

select {
	display: inline-block;
	position: relative;
	border:none;
    background-image:none;
    background-color:transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    text-indent: 1px;
    text-overflow: '';
    -webkit-appearance: none;
    -moz-appearance: none;
    padding: 0 4px;
    z-index: 1;
    cursor: pointer;
    color: #CDCFD3;
}

select:focus {
	outline: 0;
}

.info {
	max-width: 200px;
}

.email-us {
	position: relative;
	display: inline-block;
	/*border: 1px red solid;*/
	width: 180px;
	margin: 0 15px;
}

.email-us i{
	position: absolute;
	top: 4px;
    left: 16px;
    color: #6D98EB;
}

.email-us li {
	width: 100%;
	color: #CDCFD3;
}

.email-us li:first-of-type{
	color: #6D98EB;
}

.contact-us {
	position: relative;
	display: inline-block;
	/*border: 1px red solid;*/
	width: 210px;
	margin: 0 15px;
}

.contact-us i{
	position: absolute;
	top: 4px;
    left: 16px;
    color: #6D98EB;
}

.contact-us li {
	width: 100%;
	color: #CDCFD3;
}

.contact-us li:first-of-type{
	color: #6D98EB;
}

#nav-bar {
	background-color: #6D98EB;
}

#nav-bar .row {
	padding: 0;
}

.select {
	position: relative;
    margin: 25px;
	margin-left: 30px;
	padding: 12px;
	border: 2px solid #8AADEF;
	border-radius: 100px;
}

.select span{
	position: absolute;
    top: 12px;
    right: 16px;
    z-index: 0;
    color: white;
    font-weight: 700;
    font-size: 18px;
    font-weight: 700;
}

.select select{
	color: white;
	font-size: 14px;
	font-weight: 700;
}

.select select:after option {
	color: #CDCFD3;
}

.dropdowns {
	margin: auto;
	margin-bottom: 0;
	margin-top: 0;
	cursor: pointer;
}

.dropdowns div{
	position: relative;
	display: inline-block;
    padding: 39px 16px;
}

.dropdowns div ul{
	padding: 5px;
	margin: 0;
	list-style-type: none;
	width: 106px;
}

.dropdowns div span {
	color: white;
	font-weight: 700;
	transition: all 0.5s;
}

.dropdowns div:hover span{
	color: black;
}

.dropdowns div:hover ul li span {
	color: #A4A8B3;
	font-weight: 700;
}


.home ul{
	display: none;
	position: absolute;
	top: 102px;
    left: 4px;
    border: 1px solid #CDCFD3;
    background-color: white;
}

.home:hover ul{
	display: block;
}

.pages .pages-content {
	display: none;
	z-index: 2;
	position: absolute;
	background-color: white;
	/*border: 1px solid red;*/
	top: 102px;
	left: -390px;
	padding: 0;
	width: 905px;

}

.pages:hover .pages-content {
	display: block;
}

.pages .pages-content div {
	display: inline-block;
	float: left;
	padding: 12px 32px;
}

.pages-content ul {
	color: #A4A8B3;
	font-size: 18px;
}

.pages-content span {
	font-size: 20px;
}

.pages-content ul {
	padding: 0 !important;
	margin-top: 20px !important;
}

.blog ul {
	display: none;
	position: absolute;
	top: 102px;
    left: 4px;
    border: 1px solid #CDCFD3;
    background-color: white;
}

.blog:hover ul{
	display: block;
}

.buttons {
	margin: auto 28px;
	position: relative;
}

.buttons i{
	padding: 0 8px;
	font-size: 16px;
	color: white;
	transition: .5s all;
	cursor: pointer;
}

.buttons i:hover {
	color: black;
}

.cart {
	background-color: #2B2E38;
	/*border: 1px solid red;*/
	padding: 12px;
	position: fixed;
    right: -234px;
    /*right: 0;*/
    top: 0;
	height: 100%;
    width: max-content;
    transition: all .3s;
}



.cart p{
	color: white;
	padding-top: 20px;
	padding-bottom: 10px;
	font-weight: 700px;
}

.cart i{
	position: absolute;
	top: 15px;
	right: 15px;
	z-index: 1;
	color: white;
	cursor: pointer;
}

.cart .item-description {
	float: right;
	margin-left: 10px;
}

.cart span {
	color: white;
}

.cart .item {
	display: block;
}

.cart .price {
	color: #bbc4d1;
}

.cart .old-price {
	color: #bbc4d1;
	text-decoration: line-through;
}

.cart-item {
	margin-bottom: 15px;
}

.cart button {
	display: block;
	background-color: #B75B4B;
	font-weight: 300;
	color: white;
	border: 0px;
	border-radius: 6px;
	font-size: 10px;
	padding: 5px 24px;
	margin-top: 4px;
}

.hide-sidebar {
	right: 0;
}

.sumsang {
	padding-top: 125px;
	padding-bottom: 125px;
	background-position: center center;
	background-image: url(http://idealbrothers.thesoftking.com/html/bigenza/bigenja/assets/img/bg/header-bg-6.jpg);
}

.sumsang .spring{
	display: block;
	color: #6D98EB;
	font-size: 20px;
	font-weight: 700;
}

.sumsang .arrivals {
	display: block;
	color: #2B2E38;
	font-size: 72px;
	font-weight: 700;
}

.sumsang .description{
	color: #747171;
}

.sumsang-buttons {
	display: block;
	margin-top: 40px;
}

.sumsang .view {
	background-color: #6D98EB;
	padding: 20px;
	border-radius: 500px;
	border: 0px;
	color: white;
	font-weight: 700;
	transition: background-color .5s;
}

.sumsang .view:hover {
	background-color: transparent;
	color: #747171;
	border: 2px solid gray;
	padding: 18px;
}

.sumsang .learn {
	background-color: transparent;
	color: #747171;
	border: 2px solid gray;
	padding: 18px;
	font-weight: 700;
	border-radius: 500px;
	transition: background-color .5s;
}

.sumsang .learn:hover {
	background-color: #6D98EB;
	padding: 20px;
	border: 0px;
	color: white;
}

.container-4 {
	margin-top: 50px;
}

.container-5 {
	margin-top: 30px;
}

.container-5 .countdown{
	padding-top: 20px;
	border: 2px solid #bbc4d1;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
	border-top: 0px;
	width: 100%;
	position: relative;
	width: 255px;
}

.container-5 .countdown p {
	text-align: center;
	margin: auto;
	position: relative;
	width: 100%;
}

.container-5 .countdown .zero{
	padding-top: 6px;
}

.container-5 .countdown .row div div{
	background-color: #2B2E38;
	border-radius: 10px;
	color: white;
	width: 61px;
	height: 61px;
	margin: 0px 8px;
	 
}

.container-5 .bfsale {
	margin-top: 32px;
}

.container-5 .bfsale img {
	border-radius: 16px;
}
.container-5 .countdown .controller{
	font-weight: 700;
}

.col-items .row{
	padding-top: 0;
	padding-right: 0;
	padding-left: 0;
}

.items{
	width: 255px;
	position: relative;
	border-radius: 10px;
	box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
	transition: .5s;
}

.items:hover {
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.items .details {
	border: 2px solid #f0f0f0;
	border-top: 0;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.items button {
	position: absolute;
    top: 172px;
    right: 68px;
    opacity: 0;
    padding: 10px 20px;
	font-size: 12px;
	font-weight: 600;
    background-color: #2A9CF5;
    color: white;
    border-radius: 200px;
    border: 0;
    transition: all .5s;
}

.items:hover button {
	opacity: 100;
	top:120px;

}

.items img {
	filter: blur(0px);
	border-top-right-radius: 10px; 
	border-top-left-radius: 10px; 
	transition: all .5s;
}

.items:hover img{
	filter: blur(1px);
}

.item-type {
	text-transform: uppercase;
	color: #bbc4d1;
	background-color: #f0f0f0;
	border-radius: 200px;
	margin: auto;
	font-weight: 600;
	height: 32px;
	text-align: center;
	padding: 4px;
	letter-spacing: 2px;
	width: 162px;
}

.item-name {
	font-size: 20px;
	font-weight: 700;
	text-align: center;
	margin: 8px auto;

}

.item-price {
	color: #2A9CF5;
	font-weight: 500;
	margin: auto;
	padding: 4px;
	text-align: center;
	position: relative;
	width: 49%;
	display: inline-block;
}

#promo {
	display: none;
}

p[class="item-price crossed"]{
	text-decoration: line-through;
	color: #bbc4d1;
	font-weight: 400;
}

span[class="item-price crossed"]{
	text-decoration: line-through;
	color: #bbc4d1;
	font-weight: 400;
}

.details {
	padding-top: 25px;
}

.buttonz {
	padding-bottom: 20px;
}

.buttonz div{
	display: inline-block;
	width: auto;
	margin: 0 141px;
}

.buttonz div button{
	text-transform: uppercase;
	color: #bbc4d1;
	background-color: #f0f0f0;
	border-radius: 5px;
	border: 0;
	padding: 8px 16px;
	font-weight: 600;
	margin: 0px 8px;
	transition: all .5s;
	cursor: pointer;
}

.buttonz div button:hover{
	color: white;
	background-color: #2A9CF5; 

}

#promo{
	background-color: #232B37;
	padding-top: 32px;
}

#promo .buttonzz div{
	margin: 0 302px;
}


#promo .buttonzz div button {
	text-transform: uppercase;
	color: #ADABB3;
	background-color: #3E4755;
	border-radius: 200px;
	border: 0;
	font-weight: 600;
	transition: all .5s;
	cursor: pointer;
	padding: 12px 19px;
	margin: 4px;
}

.buttonzz .selected {
	color: white !important;
	background-color: #2A9CF5 !important;
}

#promo .items .details{
	background-color: white;
	border: 0;
}

#promo .items {
	margin-top: 42px;
}

#promo .col-6{
	padding: 0 10px;
}

.bigItem {
	width: 540px;
}

.bigItem .details {
	height: 294px;
	width: 540px;
}

.bigItem img{
	filter: blur(0) !important;
}

.bigItem .item-type {
	height: 48px;
	width: 256px;
	font-size: 28px;
}

.bigItem .item-name {
	font-size: 42px;
	margin: 32px auto;
}

.bigItem .item-price {
	font-weight: 600;
	font-size: 24px;
}

.right-col {
	float: right;
}

.buttonzzz {
	margin: 0 146px;
	margin-top: 32px;
}

.buttonzzz div button{
		border-radius: 200px !important;
}

.itemz img{
	float: left;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}

.itemz .description-2 {
	display: inline-block;
	border: 2px solid #bbc4d1;
	border-left: 0px;
	position: relative;
	height: 135px;
	width: 184px;
	padding: 12px 4px 12px 24px;
	border-top-right-radius: 10px;
	border-bottom-right-radius: 10px;
	transition: all .5s;
}


.stars i {
	color: #FFD800;
}

.itemz p {
	font-size: 18px;
	font-weight: 600;
	line-height: 24px;
}

.itemz	.item-price {
	width: 42% !important;
	padding: 0;
}

.container-8 {
	margin-top: 64px;
}

.menu {
	position: relative;
	margin-bottom: 24px;
}

.menu span {
	color: #bbc4d1;
	border: 2px solid #f0f0f0;
	border-radius: 200px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight: 600;
	padding: 12px 24px;
	margin-right: 0;
}
.line {
	height: 2px;
	background-color: #f0f0f0;
	width: 918px;
	display: inline-block;
	position: absolute;
	top: 50%;
}

.menu .arrow {
	width: 49px;
	height: 49px;
	background-color: #f0f0f0;
	border-radius: 200px;
	display: inline-block;
	position: absolute;
	bottom: -12px;
	left: 965px;
}

.menu .arrow i{
	color: #bbc4d1;
	margin: 17px 20px;
}

.menu .right {
	left: 1065px !important;
}

.small {
	font-size: 18px;
	text-transform: uppercase;
	color: #2A9CF5;
	letter-spacing: 1px;
	font-weight: 600;
	margin-bottom: 0;
}

.big {
	font-size: 58px;
	font-weight: 500;
	letter-spacing: 1px;
	
}

.title-2 .col-4:first-of-type{
	padding-left: 30px;
}

.no-top {
	padding-top: 0;
	margin-top: 0;
}

.no-bottom {
	padding-bottom: 0;
	margin-bottom: 0;
}

#featured-items {
	margin-top: 64px;
	box-shadow: 0px 12px 48px -24px rgba(0,0,0,1);
}

.container-11 {
	width: 100%;
	background-color: #232B37;
	padding-top: 64px;
}

.container-11 img {
	margin-top: 8px;
}

.container-11 p {
	color: white;
	font-weight: 700;
	font-size: 28px;
}

.bottom-info {
	position: relative;
	margin-bottom: 32px;
}

.bottom-info i {
	position: absolute;
	top: 4px;
	left: 0;
	color: #C1C6CE;
	padding: 12px 16px;
	border-radius: 5px;
	background-color: #2D3644;
}

.short i{
	padding: 12px 14px;
}

.bottom-info div {
	display: inline-block;
	margin-left: 54px;
}

.bottom-info span {
	color: #C1C6CE;
	font-size: 14px;
}

.container-11 .col-3 ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

.container-11 .col-3 li {
	color: #C1C6CE;
	font-size: 19px;
	letter-spacing: 1px;
	margin-bottom: 8px;
}